html, body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #7D7987;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    color:#000000;
    font-weight: 700;
}
h2 {
    font-size: 36px;
}
p {
    font-weight: 300; 
}
a {
    text-decoration: none;
    font-size: 18px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 190px 0 190px;
}

.top-navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.top-navigation ul li {
    margin-left: 40px;
}
.top-navigation a {
  color:#7D7987;
}
.top-navigation a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-navigation a.active {
    font-weight: 700;
    color:#000000;
}

.top-section {
    display: flex;
    margin-top: 80px;
    padding: 0 163px 0 190px;
}
.top-section .header-dots {
    width: 82px;
    height: 115px;
    position: absolute;
    background-image: url(/img/element.png);
    left: 0;
    top: 160px;
}
.top-section h1 {
    font-size: 48px;
}
.top-section h4 {
    font-weight: 300;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 45px;
    line-height: 32px;
}
.top-section-content {
    padding-top: 106px;
    padding-right: 111px;
}
.top-section-content button {
    width: 200px;
    height: 56px;
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    border-radius: 55px;
    background: #458FF6;
    border: none;
}

.heading-underline:after {
    content: '';
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background: #000;
    display: block;
    margin: 26px auto 33px auto;
}

.services h2 {
  text-align: center; 
  margin-top: 192px; 
}
.services p {
    font-size: 16px;
}
.services p.description {
    text-align: center;
    width: 952px;
    margin: 0 auto 0 auto;
}
p.description {
    font-size: 18px;
    line-height: 30px;
}
.services h3 {
    font-size: 24px;
}
.services-container {
    padding: 80px 240px 0 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url(./img/bgelement.png) no-repeat;
    background-position-y: -172px;
    position: relative;
}
.service-card {
    width: 350px;
    height: 354px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    padding: 46px 45px 45px 39px;
    box-sizing: border-box;
    margin-bottom: 37px;
}
.img-height {
    height: 120px;
    display: flex;
    align-items: center;
}

.service-card p {
    line-height: 28px;
}
.service-dots {
    background: url(./img/servicedots.png);
    position: absolute;
    width: 132px;
    height: 115px;
    right: 190px;
    top: 370px;
    z-index: -1;
}
.learn-more {
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    background: none;
    color: #458FF6;
    margin: 35px auto 0;
    display: block;
}
.third-element {
    width: 86px;
    height: 115px;
    position:absolute;
    bottom: -100px;
    right: 0;
    background: url(/img/thirdelement.png);
}

.providers {
    padding: 220px 192px 0 135px;
    display: flex;
    position: relative;
}
.providers img {
    margin-right: 142px;
}
.providers .heading-underline:after {
    margin-left: 0;
}
.providers h2{
    margin-top: 57px;
}
.providers .learn-more {
    margin-left: 0;
    margin-top: 40px;
}
.providers p{
    width: 410px;
}

.download-apps {
    padding: 229px 164px 0 280px;
    display: flex;
}
.download-apps img {
    margin-left: 71px;
}
.download-apps h2 {
    margin-top: 36px;
}
.download-apps .heading-underline:after {
    margin-left: 0;
}
.download-apps p {
    width: 380px;
    margin-bottom: 0;
}
.download-apps button {
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    background: none;
    color: #458FF6;
    margin: 40px auto 0;
}

.slider {
    margin: 266px auto;
    width: 1120px;
}

.slide {
    border-radius: 24px;
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    padding: 66px 118px 79px;
}
.slide h2 {
    margin: auto;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.slide .heading-underline:after
{
    margin-top: 25px;
    width: 56px;
    height: 2px;
    border-radius: 6px;
    background: #FFF;
}
.slide-content {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    align-items: center;
}
.slide-content h3 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}
.slide-content p {
    color: rgba(255, 255, 255, 0.85);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin: 0;
}
.slide-paragraph p {
    width: 420px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.slide-image {
    display: flex;
    align-items: center;
}
.slide-image img {
    margin-right: 30px;
}
.slider-wrapper {
    position: relative;
}
.first-dots {
    background: url(/img/sliderelement.png);
    position: absolute;
    top: -15px;
    right: 195px;
    z-index: 1;
    width: 131.581px;
    height: 115px;
}
.second-dots {
    background: url(/img/secondslideelement.png);
    position: absolute;
    bottom: 39px;
    left: 191px;
    width: 131.581px;
    height: 115px;

}

.articles {
    margin-top: 254px;
    background: url(/img/articlevector.png) no-repeat;
    background-position-y: 80px;
    background-position-x: 100%;
    position: relative;
}
.articles h2 {
    text-align: center;
    margin: auto; 
}
.articles h3 {
    font-size: 21px;
    margin: 0;
    padding: 21px 65px 12px 33px;
}
.articles-container p {
    margin: 0;
    padding: 0 51px 25px 33px;
    line-height: 30px;
}
.articles-container {
    padding: 0 240px 0 240px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.article-card {
    margin-top: 37px;
    width: 350px;
    min-height: 512px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    margin-left: 35px;
    overflow: hidden; 
    z-index: 1; 
}
.article-card:first-child {
    margin-left: 0;
}

.read-more {
    width: 266px;
    color: #4089ED;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 0 51px 35px 33px;
}
.articles .learn-more {
    margin-top: 72px;
}
.article-dots {
    left: 185px;
    top: 95px;
    width: 131.581px;
    height: 115px;
    background: url(/img/articledots.png);
    position: absolute;
}



footer {
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #FFF;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    padding: 118px 190px 113px;
    position: relative;
}
footer p.description {
    width: 390px;
}

.rights {
    font-size: 16px;
}
footer h3,
footer a {
    color:#FFF;
}

footer a {
    font-weight: 300;
    line-height: 38px;

}

footer ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}
.first-element {
    background: url(/img/footerelement.png);
    position: absolute;
    top: -70px;
    right: 92px;
    z-index: 1;
    width: 131.581px;
    height: 115px;
}
.second-element {
    background: url(/img/footersecondel.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 113px;
    height: 96px;
    

}