html, body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #7D7987;
    margin: 0;
    padding: 0;
}
*{
    /* outline: 1px solid red; */
}
h1, h2, h3 {
    color:#000000;
    font-weight: 700;
}
h2 {
    font-size: 36px;
}
p {
    font-weight: 300; 
}
a {
    text-decoration: none;
    font-size: 18px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 190px 0 190px;
}

.top-navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.top-navigation ul li {
    margin-left: 40px;
}
.top-navigation a {
  color:#7D7987;
}
.top-navigation a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-navigation a.active {
    font-weight: 700;
    color:#000000;
}

.top-section {
    display: flex;
    margin-top: 80px;
    padding: 0 163px 0 190px;
}
.top-section .fixed-dots {
    width: 82px;
    height: 115px;
    position: absolute;
    background-image: url(/img/element.png);
    left: 0;
    top: 160px;
}
.top-section h1 {
    font-size: 48px;
}
.top-section h4 {
    font-weight: 300;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 45px;
    line-height: 32px;
}
.top-section-content {
    padding-top: 106px;
    padding-right: 111px;
}
.top-section-content button {
    width: 200px;
    height: 56px;
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    border-radius: 55px;
    background: #458FF6;
    border: none;
}

.heading-underline:after {
    content: '';
    width: 56px;
    height: 2px;
    border-radius: 5px;
    background: #000;
    display: block;
    margin: 26px auto 33px auto;
}

.services h2 {
  text-align: center; 
  margin-top: 192px; 
}
.services p {
    font-size: 16px;
}
.services p.description {
    text-align: center;
    width: 952px;
    margin: 0 auto 0 auto;
}
p.description {
    font-size: 18px;
    line-height: 30px;
}
.services h3 {
    font-size: 24px;
}
.services-container {
    padding: 80px 240px 0 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url(./img/bgelement.png) no-repeat;
    background-position-y: -172px;
    position: relative;
}
.service-card {
    width: 350px;
    height: 354px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    padding: 46px 45px 45px 39px;
    box-sizing: border-box;
    margin-bottom: 37px;
}
.img-height {
    height: 120px;
    display: flex;
    align-items: center;
}

.service-card p {
    line-height: 28px;
}
.service-dots {
    background: url(./img/servicedots.png);
    position: absolute;
    width: 132px;
    height: 115px;
    right: 190px;
    top: 370px;
    z-index: -1;
}
.learn-more {
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    background: none;
    color: #458FF6;
    margin: 35px auto 0;
    display: block;
}

.providers {
    padding: 220px 192px 0 135px;
    display: flex;
}
.providers img {
    margin-right: 142px;
}
.providers .heading-underline:after {
    margin-left: 0;
}
.providers h2{
    margin-top: 57px;
}
.providers .learn-more {
    margin-left: 0;
    margin-top: 40px;
}
.providers p{
    width: 410px;
}
.download-apps {
    padding: 229px 164px 0 280px;
    display: flex;
}
.download-apps img {
    margin-left: 71px;
}
.download-apps h2 {
    margin-top: 36px;
}
.download-apps .heading-underline:after {
    margin-left: 0;
}
.download-apps p {
    width: 380px;
    margin-bottom: 0;
}
.download-apps button {
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    background: none;
    color: #458FF6;
    margin: 40px auto 0;
}


.articles h3 {
    font-size: 21px;
}
footer {
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #FFF;
}
footer h3,
footer a {
    color:#FFF;
}
footer a {
    font-weight: 300;
}